<h1>GUSHER</h1>

<ul>
	<div><li><a href="/"><div class="button">Home</div></a></li></div>
	<div><li><a href="/find_users"><div class="button">Find Users</div></a></li></div>
	<div><li><a href="/log_out"><div class="button">Log Out</div></a></li></div>
	<div></div>
</ul>