<h1>GUSHER</h1>

<div class='nav'>
	<ul>
		<div class='nav-link'><li><a href="/">Home</a></li></div>
		<div class='nav-link'><li><a href="/profile">My Profile</a></li></div>
		<div class='nav-link'><li><a href="/find_followers">Find People to Follow</a></li></div>
		<div class='nav-link'>
			<li>
				<form action="/log_out" method="post">
					<input type="submit" value="Log Out">
				</form>
			</li>
		</div>
	</ul>
</div>
