<html>
<link href='https://fonts.googleapis.com/css?family=Raleway|Montserrat:400,700|Roboto:400,900' rel='/stylesheets/style.css' type='text/css'>
	<head>
		<title>Gusher</title>
		<link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
	</head>
	<body>
		<header>
			<%= erb :_header if $current_user != '' %>
		</header>
		<%= yield %>
	</body>
</html>