<h1><%= $current_user.username %>!</h1>
<p>We're so happy to have you here</p>

<div>
	<%= erb :_post %>
</div>

<section>
	<h2>Your Gush Followers</h2>
	<% $current_user.following.each do |followee| %>
	<% end %>
</section>



 <!-- current followers ; posts user has made -->

