<h1><%= $current_user.username %>!</h1>
<p>We're so happy to have you here</p>

<div>
	<%= erb :_post %>
</div>

<section>
	<h2>Gushers You Follow</h2>
	<% $current_user.following.each do |followee| %>
		<%= followee.username %>
	<% end %>
</section>


 <!-- current followers ; posts user has made -->

<section>
	<h2>Your Gushes</h2>
	<% $current_user.posts.each do |time, gush| %>
		<%= gush %>
	<% end %>
</section>