body {
	font-family: 'Chewy';
	background: linear-gradient(#919191, #3dab89);
	color: white;
	text-shadow: 2px 2px 8px #FF6119;
}

header h1 {
	text-align: left;
}

div {
	text-align: center;
}
a:link    { color: #FFFFF7 }
a:visited { color: #B24030 }

h1 {
	text-align: center;
}
p {
	text-align: center;
}
section {
	text-align: center;
}